html {
  margin: 0px;
  padding: 0px;
  transition: all 350ms ease-in-out;
  overflow: hidden;
  max-width: 400px;
  max-height: 400px;
}

body {
  background: rgba(0,0,0,0);
  margin: 0px;
  padding: 0px;
  max-width: 400px;
  max-height: 400px;
}

::-webkit-scrollbar-thumb {
  display: none;
}

.pad-5 {
  padding: 5px;
}
.pad-10 {
  padding: 10px;
}
.pad-15 {
  padding: 15px;
}
.pad-20 {
  padding: 20px;
}
.pad-25 {
  padding: 25px;
}

.no-height {
  height: 0 !important;
}

.uk-overflow-container {
  max-height: 300px;
  overflow: auto;
}

.uk-app-window-alert {
  position: fixed;
  top: -15px;
  left: -1px;
  width: 360px;
  border-radius: 0px;
}

/* App */
#app_bubble {
  position: fixed;
  right: 11px;
  bottom: 20px;
  max-width: 400px !important;
}
.setting-btn {
  width: 24px;
  height: 24px;
}

#app_bubble > div.md-fab-toolbar.md-fab-active.md-fab-animated {
  height: 100px;
}
#app_bubble .md-fab-toolbar {
  max-width: 400px !important;
}

.md-fab-toolbar-actions>a, .md-fab-toolbar-actions>button {
  margin: -6px 6px 0px 6px !important;
}
.track-info {
  width: calc(100% - 10px);
  text-align: left;
  color: #f0f0f0;
  margin-top: 3px;
  padding: 3px;
  border-bottom: 1px solid rgba(255,255,255,0.35);
}
.popup-info {
  font-size: 24px !important;
  line-height: 34px !important;
}

.track-info .song-title  {
  font-size: 0.85em;
  font-weight: 600
}
.track-info .artist, .track-info .album  {
  font-size: 0.75em;
  font-weight: 500;
  display: inline-block;
}

#popup_info {
  position: absolute;
  height: 395px;
  width: 400px;
  bottom: 0px;
  left: 0px;
  border-radius: 5px;
  z-index: -1;
  opacity: 1;
  transition: all 350ms cubic-bezier(0.075, 0.82, 0.165, 1);
  background: #f0f0f0;
  background-image: url("assets/img/gallery/BobDylan.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
#popup_info.active {
  z-index: 1010;
}

#roon_app, #plex_app, #sonos_app, #lastfm_app {
  position: absolute;
  height: 300px;
  width: 400px;
  bottom: 100px;
  left: 0px;
  z-index: -1;
  border-radius: 5px 5px 0 0;
  /*transform: translateY(5px)!important;*/
  transform-origin: bottom;
  transition-delay: 0ms;
  transition: all 350ms ease-in-out;
  background: #f0f0f0;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}

#roon_app.no-height, #roon_app.no-height *, 
#plex_app.no-height, #plex_app.no-height *, 
#sonos_app.no-height, #sonos_app.no-height *, 
#lastfm_app.no-height, #lastfm_app.no-height * {
  transition-delay: 50ms;
  transform: scale(0.3,0.01);
  opacity: 0;
}
#roon_app.active, #plex_app.active, #sonos_app.active, #lastfm_app.active {
  transform: scale(1);
  opacity: 1;
}

/* ROON */
#roon_app {
  background-image: url("assets/icons/roon.png");
}

/* Plex */
#plex_app {
  background-image: url("assets/icons/plex.png");
} 

/* SONOS */
#sonos_app {
  background-image: url("assets/icons/sonos-alt.png");
} 
#sonos_volume {
  max-height: 200px;
}
#sonos_volume label.zp-vol-label::before {
  content: attr(data-sonos-volume) '% ';
  font-weight: 600;
  color: #353535;
  padding-right: 5px;
}
#sonos_volume label.zp-vol-label {
  font-size: 10px;
  color: #757575;
  text-shadow: 1px 1px 0px #eee;
  font-weight: 600;
  position: absolute;
  left: 0;
}
.sonos-volume.master-locked {
 opacity: 0.5;
}

/* LastFM */
#lastfm_app {
  background-image: url("assets/icons/lastfm.png");
}


#roon_app.active, #plex_app.active, #sonos_app.active, #lastfm_app.active {
  z-index: 1;
}


#drag_handle_container {
  position: absolute; 
  bottom: 68px; 
  right: 0px; 
  border-radius: 50%;
  background: rgba(0,0,0,0.1);
  z-index: 1;
  transition: all 350ms ease-in-out;
}
#drag_handle_container:hover {
  background: rgba(0,0,0,0.5);
}

#drag_handle {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

#fab_services {
  position: absolute; 
  bottom: 10px;
  right: 18px;
}

#fab_main_menu {
  position: absolute; 
  bottom: 10px; 
  right: 60px;
}

#fab_main_menu > .md-fab, #fab_services > .md-fab {
  width: 32px;
  height: 32px;
}
#fab_main_menu > .md-fab i, #fab_services > .md-fab i {
  font-size: 24px;
  line-height: 32px;
}
.md-fab-speed-dial-horizontal .md-fab-wrapper-small {
  position: absolute;
  right: 70px;
  bottom: 90px;
  min-height: 48px;
  width: 48px;
  z-index: -1;
}
.md-fab-speed-dial .md-fab-wrapper-small {
  position: absolute;
  bottom: 100px;
  right: 0px;
  min-height: 38px;
  width: 38px;
  z-index: -1;
}


.services-btn {
    width: 38px !important;
    height: 38px !important;
    line-height: 36px !important;
}

.md-fab-sheet.md-fab-active {
  padding-right: 60px;
  padding-left: 6px;
  width: 310px !important;
  max-height: 400px !important;
  overflow: hidden;
}
.md-fab-sheet.md-fab-active a:hover {
  background: rgba(0,0,0,0.1)
}


/* Media Controls */
.md-fab-toolbar-actions {
  user-select: none;
  width: 100% !important;
}
.transport-volume i,
.transport-shuffle i {
  font-size: 1.5em !important;
}

.timer {
  font-style: normal;
  font-size: 16px !important;
}
#progress_flat {
  position: fixed;
  right: 6px;
  bottom: 115px;
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition: all 140ms ease-in-out;
}
#progress_round {
  position: fixed;
  right: -1px;
  bottom: 8px;
  z-index: -1; 
  opacity: 1;
  transform: scale(1);
  transition: all 140ms ease-in-out;
}
svg path {
  will-change: auto;
  stroke-width: 20px;
  stroke-miterlimit: round;
  transition: stroke-dashoffset 500ms ease-in-out;
}

.md-fab-active #progress_round {
  opacity: 0;
  transform: scale(0);
}
.md-fab-animated.md-fab-active #progress_flat {
  opacity: 1;
  transform: scale(1);
}
